<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
    <h1>JPA 테스트 </h1>
    <button onclick="location.href='/user/2'">특정 유저조회</button>
    <button onclick="location.href='/user/list'">유저 전체 조회하기</button>
    <button onclick="location.href='/user/regist'">유저 등록 </button>
    <button onclick="location.href='/user/modify'">유저 정보 변경 </button>
    <button onclick="location.href='/user/delete'">유저 삭제 </button>
    <button onclick="location.href='/user/querymethod'">쿼리메소드 테스트 </button>

</body>
</html>